#app
fastapi
uvicorn
mongoengine
herepy
loguru
dnspython
passlib
bcrypt
python-multipart
python-jose
elasticsearch[async]

#dev
pytest
anyio 
pytest-asyncio 
pytest-tornasync 
pytest-trio 
pytest-twisted